<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
</head>
<body>
    <h1 class="static-header">Node JS Web Serrver</h1>
    <div>
        <a class="link" href="/">Home</a>
        <a class="link" href="/about">About</a>
        <a class="link" href="/help">Help</a>
    </div>
</body>
</html>