<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <div class="error-container">
    <h1 style="color:red">Page Not Found - {{title}}</h1>
    <p>Try a different route!</p>   
    </div>
    {{>footer}}
</body>
</html>